<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <title> طرح مطالعه نوروزی  </title>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">

    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.js' %}"></script>
	 <script type="text/javascript" src="{% static 'js/script.js' %}"></script>

    <link  rel="stylesheet" type="text/css" href="{% static 'css/semantic.css' %}" />


</head>
<body>
<div class="ui inverted segment" style="text-align: center; width: 500px;margin: auto;margin-top: 100px;">
<h4 class="ui header"> لطفا انتخاب کنید </h4>
  <button class="ui teal button" id="qalam" style="margin-top: 5px !important;"> قلم</button>
  <button class="ui teal button" id="gozine" style="margin-top: 5px !important;"> گزینه</button>
</div>



</body>
</html>
