<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <title> طرح مطالعه نوروزی  </title>

  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">

    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.js' %}"></script>
	 <script type="text/javascript" src="{% static 'js/script.js' %}"></script>

    <link  rel="stylesheet" type="text/css" href="{% static 'css/semantic.css' %}" />


</head>
<body>
<div class="ui inverted segment" style="text-align: center; width: 500px;margin: auto;margin-top: 100px;">
<h4 class="ui header"> جهت دریافت رشته و پایه خود را انتخاب نمایید </h4>
  <button class="ui teal button" id="q4taj" style="margin-top: 5px !important;"> چهارم تجربی</button>
  <button class="ui teal button" id="q4math" style="margin-top: 5px !important;"> چهارم ریاضی</button>
  <button class="ui teal button" id="q3taj" style="margin-top: 5px !important;"> سوم تجربی</button>
  <button class="ui teal button" id="q1010" style="margin-top: 5px !important;"> دهم</button>
</div>



</body>
</html>
